In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('data_final.csv')
df.head()

                                               tweet label
0                                                NaN   NaN
1  RT @colonelkickhead: Another bloody instant re...  none
2                                                NaN   NaN
3  @azzamalirhabi @JihadiA8 This video of the Pes...  none
4                                                NaN   NaN

In [6]:
#df = df.drop(['tweet_id', 'author'], axis = 1)
df.dropna(inplace=True)
df = df.drop_duplicates()
df.head()

                                               tweet label
1  RT @colonelkickhead: Another bloody instant re...  none
3  @azzamalirhabi @JihadiA8 This video of the Pes...  none
5  Oh really? No more instant restaurants? THAT'S...  none
7  RT @Benfrancisallen: It hasn't been a good few...  none
9  RT @NoToFeminism: I donâ€™t need femisnsn beca...  none

In [7]:
classes = df.label.unique()
classes

array(['none', 'racism', 'sexism'], dtype=object)

In [8]:
import os

path = 'dataset/train/'
for c in classes:
    path_class = path + c
    if os.path.isdir(path_class):
        pass
    else:
        os.mkdir(path_class)

In [9]:
import os

test_path = 'dataset/test/'
for c in classes:
    test_path_class = test_path + c
    if os.path.isdir(test_path_class):
        pass
    else:
        os.mkdir(test_path_class)

In [10]:
import re

count = 0
for l,c in zip(df.label,df.tweet):
    c = re.sub(r"(?:\@|http?\://|https?\://|www)\S+", "", c)
    rt= ['rt', 'RT']
    for i in rt:
        if i in c:
            c = c.replace(i, '')
    c = c.strip()
    filename = l+str(count)+'.txt'
    file_path = path + l + '/' + filename
    count += 1
    
    f=open(file_path,'w', encoding='utf-8')
    f.write(c)
    f.close()

In [11]:
import shutil
import random

for i in os.listdir(path):
    ls = os.listdir(path+i)
    count = len(ls)
    no = int(5/100 * count)
    
    try:
        for n in range(0,no):
            randno = random.randrange(0,len(ls))
            file_name = ls[randno]
            og_path = path + i + '/' + file_name
            new_path = test_path+ i + '/' + file_name
            shutil.move(og_path, new_path)   
    except:
        pass